.advantage{
    background-color: #222224;
    padding: 103px 0;

    &__list{
        display: flex;
        justify-content: space-between;
    }

    &__item{
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img{
        margin-bottom: 20px;
    }

    &__img--car{
        margin-bottom: 28px;
    }

    &__img--crown{
        margin-bottom: 25px;
    }

    &__title{
        font-size: 20px;
        line-height: 24px;
        color: #FBFBFB;
        font-weight: 400;
        text-align: center;
        margin-bottom: 16px;
    }

    &__text{
        color: #FBFBFB;
        text-align: center;
        font-weight: 300;
    }
}

@media (max-width: 1599px){
    .advantage{
        padding: 48px 0 0 0;
    }
    
    .advantage__list{
        flex-direction: column;
        align-items: center;
    }

    .advantage__item{
        margin-bottom: 58px;
    }
}