.form{

    &__reg{
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    }

    &__view{
    width: 100%;
    border: 1px solid #A4A4A4;
    margin-bottom: 21px;
    padding: 14px 17px;
    color:#B1B1B1;   
    }

    &__title{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-bottom: 21px;
    width: 100%;
    }

    &__view{
        color: #F26376;
        box-sizing: border-box;
    }

    &__view:hover{
        border: 1px solid #F26376;
    }

    &__view:focus{
        border: 1px solid #F26376;
        

    }

    &__view::placeholder{
        color: #B1B1B1;
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    &__view:focus::placeholder{
        text-indent: 500px; 
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    &__radiobox{
        margin-top: 10px;
        margin-bottom: 33px;
    }


    &__radiobox-wrp{
        display: flex;
        align-items: center;
    }

    &__radio{
        position: absolute;
        opacity: 0;
    }

    &__radio + .form__radio-text{
        position: relative;
        cursor: pointer;
        padding: 0 0 0 35px;
    }

    &__radio + .form__radio-text:before{
        content: '';
        position: absolute;
        top: -3px;
        left: 0;
        width: 17px;
        height: 17px;
        border: 1px solid #A4A4A4;
        border-radius: 50%;
        background: #FFF;
    }

    &__radio + .form__radio-text:after{
        content: '';
        position: absolute;
        top: 10px;
        left: 2px;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        background: #F16D7F;;
        opacity: 0;
        transition: .3s;
    }

    &__radio:checked + .form__radio-text:after {
        opacity: 1;
        top: -1px;
        left: 2px;
        width: 15px;
        height: 15px;
    }


    &__radio-text{
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #000000;
        margin-right: 20px; 
    }

    &__text{
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        margin-bottom: 39px;
    }

    &__button{
        padding: 16px 29px;
    }

    &__button:hover{
        padding: 16px 29px;
    }

    &__button-arrow{
        fill: #F16D7F;
        margin-left: 20px;
    }

    &__button:hover .form__button-arrow{
        fill: #FFFFFF;
    }


}