.nav-item__list{
    padding-left: 20px;
    margin-bottom: 20px;
}
.nav-item__title{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.nav-item__item{
    margin-bottom: 11px;
}

.nav-item__link{
    color: #6F6E6E;
    text-decoration: none;
}

.nav-item__link:hover{
    color: #F26376;
}