.reg__adv{
    

    .adv__title{
        margin-bottom: 21px;
    }

    .adv__title--up{
        text-transform: uppercase;
    }

    .adv__title--sub{
        width: 652px;
    }

    .adv__text{
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
    }

    .adv__item{
        position: relative;
        margin-left: 43px;
        margin-bottom: 16px;
    }

    .adv__item::before{
        content: "";
        background-image: url(../img/vector.svg);
        width: 20px;
        height: 16px;
        position: absolute;
        top: 9px;
        left: -43px;
    }
}

@media (max-width: 1599px){
    .reg{
        justify-content: space-around;
    }
    
    .reg__adv{
        margin-left: 22px;
        
        .adv__title--up{
            margin-bottom: 32px;
        }

        .adv__text{
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
        }

        .adv__title--sub{
            width: 354px;   
        }

        .adv__list{
            width: 337px;
        }

        .adv__item::before{
            top: 5px;
        }
    }
}

@media (max-width: 766px){
    .reg{
        flex-direction: column;
        align-items: center;
    }

    .reg__adv{
        margin-top: 40px;
    }
    
}