.shop{
    margin-top: 96px;
    display: flex;
    justify-content: space-between;

    &__cardbox{
        margin-bottom: 128px;
    }

    &__card{
        display: flex;
        margin-bottom: 40px;
        width: 100%;
        box-shadow: 10px 9px 36px -4px rgba(0, 0, 0, 0.54);
    }

    &__card-info{
        width: 390px;
        padding: 22px 31px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    &__card-title{
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #222222;
        text-transform: uppercase;
        margin-bottom: 42px;
    }

    &__card-text{
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #575757;
        margin-bottom: 6px;
    }

    &__form{
        margin-bottom: 57px;
        width: 360px;
    }

    &__form-title{
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        margin-bottom: 21px;
        text-transform: uppercase;
    }

    &__form-button{
        border: 1px solid #A4A4A4;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        text-transform: uppercase;
        padding: 10px 14px;
    }

    &__form-button:hover{
        border: 1px solid #A4A4A4;
        color: #fff;
        background-color:  #4A4A4A;
    }

    &__total{
        display: flex;
        flex-direction: column;
        padding: 39px 34px 42px 34px;
        background-color: #F5F3F3;
        height: 214px;
        box-sizing: border-box;
    }

    &__total-text{
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        text-transform: uppercase;
        margin-bottom: 12px;
        text-align: end;
    }

    &__total-text--margin{
        margin-left: 10px;
    }

    &__total-text--color{
        font-weight: 700;
        color: #F16D7F;
    }

    &__total-title{
        margin-bottom: 21px;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        text-transform: uppercase;
        text-align: end;
    }

    &__total-wrp{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 8px 0px 8px;
    }

    &__total-hr{
        background-color: #E2E2E2;
        margin-bottom: 17px;
        width: 100%;
    }

    &__total-button{
        width: 100%;
        text-transform: uppercase;
        font-weight: 300;
        margin-top: 0;
    }

    &__card-buttons{
        display: flex;
        justify-content: space-between;
    }

    &__card-button{
        padding: 16px 39px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
}

@media (max-width: 1199px){
    .shop{
        flex-direction: column;
    }

    .shop__cardbox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .shop__form{
        margin-right: 15px;
    }

    .shop__form-button{
        margin-right: 48px;
    }

    .shop__info{
        display: flex;
        justify-content: space-around;
    }

    .shop__total{
        margin-top: 38px;
    }
}

@media (max-width: 766px){
    
    .shop__card{
        height: 188px;
    }

    .shop__form{
        margin-right: 0;
    }

    .shop__card-info{
        width: 215px;
    }

    .shop__card-title{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 25px;
    }

    .shop__card-text{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 4px;
    }

    .shop__info{
        align-items: center;
        flex-direction: column;
        margin-bottom: 96px;
    }

    .shop__card-button{
        margin-right: 6px;
        font-size: 12px;
        padding: 8px 20px;
    }
}